{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load i18n %}


  <section class="department_section layout_padding">
    <div class="department_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            {% trans "___ Hayotildizi ning ta'siri ___" %}
          </h2>
          <p style="color: #111">
            {% trans "Hayotildizi ning barcha organlarga ta'siri va foydasi." %}
          </p>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/w1.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {% trans 'Yurak qon tomir tizimi' %}
                </h5>
                <p style="color: #111">
                  {% trans "Mahsulot sizning yurak-qon tomir tizimingizda regulyator vazifasini bajaradi va barcha muamolarni bartaraf etadi" %}
                </p>


              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/w2.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {% trans "Oshqozon va ichak yo'llari" %}
                </h5>
                <p style="color: #111">
                  {% trans "Oshqozon va ichakdagi muamolarni tezda bartaraf etadi va to'planib qolgan massani chiqarib tashlaydi." %}
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/w3.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {% trans "Bronx va o'pka kassaliklari" %}
                </h5>
                <p style="color: #111">
                  {% trans "O'pka yo'llaridagi nafas siqishi va xirillashlar kabi muamolarni bartaraf etadi." %}
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/w4.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {% trans 'Xotira va asab tizimi' %}
                </h5>
                <p style="color: #111">
                {% trans "Mahsulot sizning markaziy asab tizimingizga ta'sir qilish orqali miya faoliyatini oshiradi." %}
                </p>
              </div>
            </div>
          </div>


          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/ww5.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {% trans 'Xarakat tayanch tizimi' %}
                </h5>
                <p style="color: #111">
                  {% trans "Mahsulot charchoqni, kuchsizlikni va bezovtalikni ketkazadi va ular sizning organizmingizning tabiiy himoya mexanizmi va chidamliligini kuchaytiradi. " %}               </p>
              </div>
            </div>
          </div>


          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/w5.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {% trans 'Jigar' %}
                </h5>
                <p style="color: #111">
                  {% trans "Jigardagi xujayralarni qayta tiklashda juda katta foyda beredi va kerakli vitamin va minerallarni yetkazib beradi." %}
                </p>
              </div>
            </div>
          </div>


          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/ww7.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {% trans 'Jinsiy zayiflik' %}
                </h5>
                <p style="color: #111">
                  {% trans 'Erkaklar va ayollarda uchraydigan jinsiy zayifklikni davolaydi va oldini oladi.' %}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/ww8.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {% trans 'Buyraklar' %}
                </h5>
                <p style="color: #111">
                  {% trans "Peshob kanalini tozalaydi, billirubin xolesterin, qondagi oqsil ko'rsatkichlarini yaxshilaydi." %}
                </p>
        </div>
      </div>
    </div>
        </div>
      </div>
    </div>
  </section>

 {% endblock %}